<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group - Монтаж технологических трубопроводов</title>
    <%- include('../templates/meta.ejs') %>
    <meta name="description" content="Профессиональный монтаж и сварка трубопроводов из нержавеющей стали, титана, алюминия и углеродистых сталей. Применяем TIG, орбитальную сварку, MIG–MAG и MMA. Полный цикл: от проектирования до тестирования.">
</head>
<body>
<%- include('../templates/header.ejs' , { isInnerPage: true }) %>


<section class="simple-section service-page light-image-bg">
    <div class="container-md container-xxl h-100">
        <div class="container-md container-xxl h-100">
            <div class="simple-section__title dark">
                <h2>Монтаж технологических трубопроводов</h2>
                <p class="accent-text-block all">
                    Мы профессионально занимаемся монтажом и сваркой технологических 
                    трубопроводов из нержавеющей стали (AISI-304L, AISI-308L, AISI-316L, AISI-321), 
                    углеродистых сталей (Ст.20, 30), а также из титана и алюминия.</p>
            </div>
        </div>
        <div class="row service-page-info-wrap">
            <div class="col-12 col-md-6">
                <div class="service-page-info">

                    <h3 class="service-page-info__title">Применяемые технологии сварки:</h3>
                    <ul class="accent-list">
                        <li>
                            <div>
                                <h5>Ручная аргонодуговая сварка (WIG – TIG)</h5>
                                <p>Диаметр труб: от 6 мм</p>
                                <p>Толщина стенки: от 0,8 мм</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h5>Орбитальная сварка (WIG – TIG)</h5>
                                <p>Диаметр труб: от 20 мм до 115 мм</p>
                                <p>Толщина стенки: до 3 мм</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h5>MMA и MIG–MAG</h5>
                                <p>Применяются при работе со стенками труб более 8 мм (с предварительной разделкой кромок и многослойной заливкой).</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 gradient-border left">
                <div class="service-page-info">
                    <h3 class="service-page-info__title">Толщина стенок и метод сварки:</h3>
                    <ul class="accent-list">
                        <li>
                            <div>
                                <h5>До 2,6 мм (AISI-304L, AISI-316L, AISI-321)</h5>
                                <p>Метод «Пендель» без использования присадочного материала (WIG–TIG).</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h5>Более 2,6 мм</h5>
                                <p>Сварка разделочных канавок с использованием присадочного материала (WIG–TIG).</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h5>Более 8 мм</h5>
                                <p>Дополнительно используется MMA или MIG–MAG (с разделкой кромок и многослойной сваркой).</p>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
            
            <div class="col-12 service-page-bottom">
                <h4>Такая комбинированная методика даёт преимущества в качестве, скорости и стоимости. 
                    Мы выполняем полный комплекс сопутствующих работ: проектирование, резка, подготовка труб, 
                    установка арматуры, проверка и тестирование трубопроводных систем.</h4>
            </div>
        </div>
    </div>
</section>

<section class="simple-section simple-gallery">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title dark">

            <h2>Наши работы</h2>
            <p class="accent-text-block all">
                Каждый наш проект воплощает в себе точное соответствие требованиям заказчика, продуманную экономическую модель и безупречное техническое исполнение.
        </div>
        <%- include('../templates/gallery-instalation-pipelines.ejs') %>
    </div>
    
</section>

<%- include('../templates/know-more.ejs') %>

<%- include('../templates/footer.ejs') %>

</body>
</html>