<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group - О компании</title>
    <meta name="description" content="Более 15ти лет опыта на промышленных объектах. Мы специализируемся на профессиональной сварке и монтаже технологических трубопроводов, 
    производстве оборудования и металлоконструкций для химической, пищевой, фармацевтической и 
    других отраслей промышленности." />
    
    <%- include('./templates/meta.ejs') %>
    
</head>
<body>
<%- include('./templates/header.ejs', { isInnerPage: false }) %>

<section class="simple-section about-us-page">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title dark border-bottom">
          <h2>О нас</h2>
        </div>
        <div class="row about-us-page-row">
            <div class="col-12 col-lg-6">
                <div class="about-us-page__text">
                    <h3 class="simple-section__subtitle subtitle-left">Наша история и ценности</h3>
                    <p class="accent-text-block left">
                        Компания <b class="no-wrap">Weld Tech Group</b> с момента своего основания стабильно расширяет спектр услуг 
                        и повышает качество работ в области сварки и монтажа технологических трубопроводов, 
                        производства металлоконструкций и промышленных емкостей. 
                        Международный опыт полученный в разных отраслях пищевой химической энергетической.<br> 
                        Получение сертификатов <b class="no-wrap">ISO 3834 – 2,1090-1034</b> и инженерного штата позволяет делать разработку документации 
                        и ведение проектов предоставляя гарантии на выполнение своих работ.<br>

                        Наша надёжность и профессионализм подтверждаются многолетним сотрудничеством с 
                        постоянными клиентами в Польше, Литве, Германии и других странах Европы.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-us-page__video shadow-video right">
                    <video width="100%" height="100%" autoplay muted loading="lazy">
                    <source src="assets/img/IMFZ6564.webm" type="video/webm">
                    <source src="assets/img/IMFZ6564.MP4" type="video/mp4">
                        Your brawser not support videos.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-section values light-image-bg">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title dark border-bottom values-heading">
            <h2>Пять неизменных принципов,<br> лежащих в основе нашей работы.</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 values-item-wrap">
                <div class="values-item accent-text-block all">
                    <div class="values-item__title">
                        <h2 class="gradient-number animate-on-scroll zoom-In">1</h2>
                        <h3>Качество, проверенное временем</h3>
                    </div>
                    <div class="values-item__text">
                        Мы применяем современные методы сварки, используя только сертифицированные материалы. 
                        Каждая стадия производства строго контролируется, что гарантирует долговечность и безопасность готовых конструкций.
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 values-item-wrap">
                <div class="values-item accent-text-block all">
                    <div class="values-item__title">
                        <h2 class="gradient-number animate-on-scroll zoom-In">2</h2>
                        <h3>Командная работа</h3>
                    </div>
                    <div class="values-item__text">
                        Наши специалисты обладают высоким уровнем подготовки и регулярно повышают квалификацию. Они умеют работать с широким спектром материалов: от высоко- и низколегированных сталей до титана и алюминия. 
                        Такой профессиональный подход позволяет нам безупречно выполнять как типовые, так и нестандартные проекты.
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 values-item-wrap">
                <div class="values-item accent-text-block all">
                    <div class="values-item__title">
                        <h2 class="gradient-number animate-on-scroll zoom-In">3</h2>
                        <h3>Ориентация на клиента</h3>
                    </div>
                    <div class="values-item__text">
                        Мы прислушиваемся к запросам заказчика и стремимся предложить оптимальное решение с учётом бюджета, 
                        сроков и особенностей конкретного предприятия. 
                        Индивидуальный подход и гибкость в работе помогают выстраивать долгосрочные партнёрские отношения.
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 values-item-wrap">
                <div class="values-item accent-text-block all">
                    <div class="values-item__title">
                        <h2 class="gradient-number animate-on-scroll zoom-In">4</h2>
                        <h3>Ответственность и прозрачность</h3>
                    </div>
                    <div class="values-item__text">
                        Соблюдение технических норм, экологических требований и стандартов безопасности — безусловный приоритет. 
                        Мы документируем и сертифицируем каждый этап работ, обеспечивая максимально полную отчётность перед клиентами и контролирующими органами.
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 values-item-wrap">
                <div class="values-item accent-text-block all">
                    <div class="values-item__title">
                        <h2 class="gradient-number animate-on-scroll zoom-In">5</h2>
                        <h3>Постоянное совершенствование</h3>
                    </div>
                    <div class="values-item__text">
                        Мы инвестируем в передовое оборудование, инновационные технологии и обучение сотрудников. 
                        Это обеспечивает высокий уровень компетенций и позволяет нам сохранять лидерские позиции на рынке сварочных и монтажных услуг.
                    </div>
                </div>
            </div>
        </div>
        <div class="values-bottom-text">
            <h4>Благодаря такому комплексному подходу, Weld Tech Group заслуженно пользуется доверием как крупных промышленных предприятий, так и малых компаний, ищущих надёжного подрядчика. 
                Наша главная цель — воплощать идеи клиентов в эффективные, безопасные и долговечные решения, которые служат примером качества и профессионализма.
            </h4>
            <div class="btn-group-nowrap">
                <span class="arrow arrow-right arrow-dark animate-on-scroll"></span>
                <a href="./our-services.html" class="simple-button">Наши услуги</a>
                <span class="arrow arrow-left arrow-dark animate-on-scroll"></span>
            </div>
        </div>
    </div>
    
</section>

<%- include('./templates/stuff.ejs') %>

<%- include('./templates/certificates.ejs') %>

<%- include('./templates/footer.ejs') %>

</body>
</html>