<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group</title>
    <%- include('./templates/meta.ejs') %>
    
</head>
<body class="home">
  <%- include('./templates/header.ejs', { isInnerPage: false }) %>

<section id="welcome" class="welcome">
  <div class="welcome-banner">
    <div class="container-md container-xxl h-100">
      <div class="row align-items-center welcome-heading-wrap">
        <div class="welcome-heading">
          <h1>Weld Tech Group</h1>
          <h6>прочность, проверенная временем!</h6>
          <h4>Ваш надежный партнер в сфере монтажа 
            технологических трубопроводов и
            производства промышленных 
            металлоконструкций.</h4>
            <div class="welcome-heading__buttons">
              <a href="about-us.html" class="simple-button">О компании</a>
              <a href="#contacts" class="simple-button">Связаться с нами</a>
            </div>
        </div>
      </div>
      <div class="welcome-video">
        <video width="100%" height="100%" autoplay muted loop loading="lazy">
          <source src="assets/img/Weld-tech-video.webm" type="video/webm">
          <source src="assets/img/Weld-tech-video.mp4" type="video/mp4">
           Your brawser not supprort videos.
        </video>
      </div>
    </div> 
       
  </div>
  
  <div class="welcome-text-wrap">
  <div class="container-md container-xxl h-100">
      <div class="row align-items-center h-100">
        <div class="col-12 col-md-11 col-xl-8 row align-items-center">
          <div class="welcome-text">
            <h3 class="subtitle-left" >15+ лет опыта на промышленных объектах.</h3>
            <p class="accent-text-block left">
              Мы специализируемся на профессиональной сварке и монтаже технологических трубопроводов, 
              производстве оборудования и металлоконструкций для химической, пищевой, фармацевтической и 
              других отраслей промышленности.
            </p>
            <span class="arrow arrow-down arrow-dark animate-on-scroll"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<section id="about-us" class="simple-section about-us">
  <div class="container-md container-xxl h-100">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 about-us-image">

        <div class="shadow-image left animate-on-scroll">
          <div class="shadow-image-wrap">
              <img src="./assets/img/work-weld-tech.webp" alt="Work Weld Tech Group">
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-8">
        <div class="about-us-content">
          <p class="accent-text-block right">
            <b>Наша миссия</b> — обеспечивать надёжные, инновационные и экологически безопасные решения в сфере сварки 
            и металлообработки, способствуя развитию промышленности на локальном и международном рынках. 
            Мы стремимся не просто удовлетворять потребности клиентов, но и превосходить их ожидания за 
            счёт высокого качества работ, применения передовых технологий и непрерывного совершенствования процессов.
          </p>
          <h4>Наша команда опытных специалистов реализует проекты в Польше, Литве, Германии и других странах Евросоюза.</h4>
          <div class="about-us-buttons row align-items-center justify-content-end">
            <span class="arrow arrow-right arrow-dark animate-on-scroll"></span>
            <a href="#services" class="simple-button">Наши услуги</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./templates/features.ejs') %>

<section id="stuff" class="simple-section stuff">
  <div class="container-md container-xxl h-100">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-8 stuff-content">
        <div class="stuff-content__heading">
          <h3>Более</h3>
          <div class="stuff-content__heading-row">
            <h2 class="gradient-number animate-on-scroll zoom-In">50</h2>
            <h4>высококвалифицированных сотрудников с многолетним опытом сварки композиционных материалов и других материалов, 
            имеющих сложные характеристики свариваемости.</h4>
            
          </div>
          
        </div>
        <div class="stuff-content__text">
          <p class="accent-text-block left">
            <b>Наша команда</b> — это высококвалифицированные сварщики и конструкторы, которые регулярно проходят обучение и осваивают современные 
            технологии, документируют и сертифицируют каждый этап работ. Ключевую роль в компании играют сварщики, способные выполнять 
            сварку «под зеркало» (mirror welding), а также сварку труб из нержавеющей стали, различных сплавов и конструкций. 
            Они безупречно справляются с работами на материалах от углеродистой и легированной стали (включая карбиды) до трудносвариваемых 
            металлов, обеспечивая высокое качество стыков и монтажных соединений.
        </p>
        </div>
        
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="shadow-image right animate-on-scroll">
          <div class="shadow-image-wrap">
              <img src="./assets/img/welder.webp" alt="Welder">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./templates/services.ejs', { isInnerPage: false }) %>

<section class="home-slider">
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
         <li class="splide__slide"><img src="assets/img/gallery/all/metal-constructions-1.webp" alt="metal constructions"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/huge-pipelines.webp" alt="huge pipelines"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/IMG_1414.webp" alt="equipment for industry"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/IMG_1415.webp" alt="equipment for industry"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/IMG_1504.webp" alt="pipelines"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/IMG_1696.webp" alt="pipelines work"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/IMG_2073.webp" alt="capacitive equipment"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/IMG_2077.webp" alt="pipelines"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/IMG_2078.webp" alt="capacitive equipment"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/IMG_2080.webp" alt="pipelines work"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/IMG_2200.webp" alt="pipelines"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/photo_2023-09-19_21-25-44.webp" alt="huge pipelines"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/photo_2023-09-26_14-58-16.webp" alt="welder"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/pipelines2.webp" alt="pipelines"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/pipelines-construction.webp" alt="pipelines constructions"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/round-pipelines.webp" alt="curve huge pipelines"></li>
         <li class="splide__slide"><img src="assets/img/gallery/all/IMG_2075.webp" alt="pipelines"></li>
      </ul>
    </div>
  </div>

  <div class="container-md container-xxl h-100">
    <div class="home-slider-content">
    <h4><span>Каждый наш проект</span> — это точность, надежность и внимание к деталям. <br>
      Ознакомьтесь с нашими выполненными работами в галерее!</h4>
      <div class="btn-group">
        <a href="./projects/gallery-projects.html" class="simple-button">Галлерея проектов</a>
        <span class="arrow arrow-left arrow-dark animate-on-scroll"></span>
      </div>
    </div>
  </div>
</section>

<section id="work-stages" class="simple-section work-stages">
  <div class="container-md container-xxl h-100">

    <div class="simple-section__title dark">
      <h2>Как мы работаем над проектами?!</h2>
      <p class="accent-text-block all">
        Наш подход к работе строится на тщательной подготовке, 
        строгом соблюдении технических регламентов и тесном взаимодействии с заказчиками на каждом этапе.</p>
    </div>

    <div class="row work-stages-row">
      <div class="col-12 col-md-6 offset-sm-0 work-stages-item item-1">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Консультация</h4>
          <p class="work-stages-item__description">На первой консультации мы уточняем основные требования и специфику проекта, отвечаем на вопросы клиента и обсуждаем дальнейший 
            план работы.</p>
            <div class="stage-circle zoom-In animate-on-scroll">1</div>
        </div>
      </div>

      <div class="col-12 col-md-6 offset-md-6 work-stages-item item-2">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Анализ и планирование</h4>
          <p class="work-stages-item__description">Определяем технические параметры, сроки и бюджет учитывая нюансы отрасли и местные нормативы.</p>
          <div class="stage-circle zoom-In animate-on-scroll">2</div>
        </div>
      </div>

      <div class="col-12 col-md-6 offset-sm-0 work-stages-item item-3">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Проектирование</h4>
          <p class="work-stages-item__description">Создаём детализированные чертежи и 3D-модели, согласовываем спецификации и график поставок материалов.</p>
          <div class="stage-circle zoom-In animate-on-scroll">3</div>
        </div>
      </div>

      <div class="col-12 col-md-6 offset-md-6 work-stages-item item-4">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Производство и сварочные работы</h4>
          <p class="work-stages-item__description">Мы используем современные технологии  (WIG–TIG, MIG–MAG, орбитальная сварка и др.) и сертифицированные материалы.</p>
          <div class="stage-circle zoom-In animate-on-scroll">4</div>
        </div>
      </div>

      <div class="col-12 col-md-6 offset-sm-0 work-stages-item item-5">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Монтаж и проверка</h4>
          <p class="work-stages-item__description">Опытные бригады выезжают на объект выполняют установку и пуско-наладку. Проводим тестирование на герметичность, 
          прочность и соответствие техническим требованиям.</p>
          <div class="stage-circle zoom-In animate-on-scroll">5</div>
        </div>
      </div>

      <div class="col-12 col-md-6 offset-md-6 work-stages-item item-6">
        <div class="work-stages-item__wrap">
          <h4 class="work-stages-item__title">Сдача объекта и сопровождение</h4>
          <p class="work-stages-item__description">Оформляем необходимую документацию (сертификаты, акты приёмки), даём гарантии и при необходимости обеспечиваем сервисное обслуживание.</p>
          <div class="stage-circle zoom-In animate-on-scroll">6</div>
        </div>
      </div>
      <span class="stage-line"></span>
    </div>
    <div class="btn-group group-center">
      <div class="btn-group-nowrap">
        <a href="./projects/projects.html" class="simple-button">Подробнее о проектах</a>
        <span class="arrow arrow-left arrow-dark animate-on-scroll"></span>
      </div>
      <div class="btn-group-nowrap">
        <span class="arrow arrow-right arrow-dark animate-on-scroll"></span>
        <a href="./projects/industry-solutions.ejs" class="simple-button">Отраслевые решения</a>
      </div>
      
    </div>
  </div>
</section>

<section id="certificates" class="simple-section certificate">
  <div class="container-md container-xxl h-100">
    <div class="simple-section__title light border-bottom">
      <h2>Мы обладаем сертификатами,<br>
        которые имеют значение!</h2>
    </div>
    <div class="row certificate-row">
      <div class="col-12 col-md-6">
        <div class="row flex-column align-items-center">
          <h2 class="certificate-name zoom-In animate-on-scroll">ISO 3834 – 2</h2>
          <h5 class="certificate-text">подтверждает компетентность персонала и качество выполняемых работ.</h5>
          <img src="../src/assets/img/EN-ISO-3834-2.webp" class="certificate-image open-modal" alt="Preview ISO 3834 – 2" data-type="pdf" data-src="../assets/img/pdf/EN-ISO-3834-2-ENG.pdf">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row flex-column align-items-center">
           <h2 class="certificate-name zoom-In animate-on-scroll">EN 1090-1034</h2>
            <h5 class="certificate-text">подтверждает наличие эффективной системы контроля качества на заводе и соответствие продукции европейским требованиям</h5>
            <img src="../src/assets/img/1090-1034.webp" class="certificate-image open-modal" alt="Preview 1090-1034" data-type="pdf" data-src="../assets/img/pdf/EN-1090-ENG.pdf">
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./templates/footer.ejs') %>

</body>
</html>