<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group - Наши услуги</title>
    <meta name="description" content="Компания Weld Tech Group предоставляет услуги по монтажу технологических трубопроводов, производству и установке оборудования, изготовлению ёмкостей, металлоконструкций и площадок обслуживания.">
    
    <%- include('./templates/meta.ejs') %>
    
</head>
<body>
<%- include('./templates/header.ejs', { isInnerPage: false }) %>

<%- include('./templates/services.ejs', { isInnerPage: false }) %>

  <section class="simple-section">
    <div class="container-md container-xxl h-100">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="services-experiance">
                    <h3 class="simple-section__subtitle subtitle-left">Многолетний опыт сварки сложных материалов</h3>
                    <div class="accent-text-block left">
                        <p>
                            Наша команда включает более <b>50 высококвалифицированных сотрудников</b> с многолетним опытом сварки композиционных материалов и других материалов, имеющих сложные характеристики свариваемости. 
                            Мы обладаем всеми необходимыми сертификатами, подтверждающими компетентность и качество выполняемых работ.
                        </p>
                        <h4 class="simple-section__subtitle">Предлагаемые способы сварки:</h4>
                        <div class="row">

                            <div class="col-12 col-md-6">
                                <ul class="accent-list">
                                    <li><p>TIG-сварка</p></li>
                                    <li><p>Сварка MIG–MAG</p></li>
                                    <li><p>TIG-электродная сварка</p></li>
                                    <li><p>Электродная сварка</p></li>
                                    <li><p>Сварка кислородно-ацетиленовой горелкой</p></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6">
                                <ul class="accent-list">
                                    <li><p>Мягкая пайка</p></li>
                                    <li><p>Пайка</p></li>
                                    <li><p>Строжка</p></li>
                                    <li><p>Плазменная резка</p></li>
                                    <li><p>Плазменно-дуговая резка</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="shadow-image left animate-on-scroll">
                    <div class="shadow-image-wrap">
                        <img src="./assets/img/IMG_1129.webp" alt="Quality work">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('./templates/features.ejs') %>
<%- include('./templates/footer.ejs') %>

</body>
</html>