<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Weld Tech Group</title>
    <%- include('../templates/meta.ejs') %>
    
</head>
<body>
<%- include('../templates/header.ejs' , { isInnerPage: true }) %>

<section class="simple-section">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title dark">
            <h2>Отраслевые решения</h2>
            <p class="accent-text-block all">
                Компания Weld Tech Group выполняет проекты для различных отраслей промышленности, 
                учитывая специфические требования к монтажу, гигиене, безопасности и эффективности. <br>
                Ниже — основные направления, где наш опыт и компетенции особенно востребованы.</p>
        </div>

        <div class="tabs tabs-solutions">
            <div class="tabs-btn-wrap">
                <button class="tabs-btn tabs-solutions-btn active" data-tab="tab1"><h4>Пищевая<br> промышленность</h4></button>
                <button class="tabs-btn tabs-solutions-btn" data-tab="tab2"><h4>Химическая<br> промышленность</h4></button>
                <button class="tabs-btn tabs-solutions-btn" data-tab="tab3"><h4>Фармацевтическая<br> отрасль</h4></button>
            </div>

            <div class="tabs-content tabs-solutions-content active" id="tab1">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="shadow-image left animate-on-scroll">
                            <div class="shadow-image-wrap">
                                <img src="../assets/img/gallery/food-industry/20210209_161352364_iOS.webp" alt="food industry equipment">
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-8">
                        <h4>Особенности и задачи:</h4>
                        <ul class="simple-list">
                            <li><p>Строгие санитарно-гигиенические требования (например, HACCP).</p></li>
                            <li><p>Необходимость безупречного качества швов и простоты санитарной обработки оборудования.</p></li>
                            <li><p>Использование нержавеющих сталей и материалов, соответствующих пищевой безопасности.</p></li>
                        </ul>
                        <h4>Что мы предлагаем:</h4>
                        <ul class="simple-list">
                            <li><p><b>Проектирование и монтаж</b> трубопроводных систем для жидких и сыпучих продуктов.</p></li>
                            <li><p><b>Производство специализированных ёмкостей </b>(резервуары для молока, пива, соков и др.) с учётом термообработки или охлаждения.</p></li>
                            <li><p><b>Изготовление дополнительных конструкций</b> (конвейеры, рольганги, моечные ванны), адаптированных к высокой влажности и агрессивным моющим средствам.</p></li>
                        </ul>
                    </div>
                </div>
                <div class="simple-section__title dark border-bottom">
                    <h2>Наши работы</h2>
                </div>
                <%- include('../templates/gallery-food-industry.ejs') %>
            </div>

            <div class="tabs-content tabs-solutions-content" id="tab2">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="shadow-image left animate-on-scroll">
                            <div class="shadow-image-wrap">
                                <img src="../assets/img/gallery/chemical-energy-industry/photo_7_2024-05-10_18-51-58.webp" alt="chemical industry equipment">
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-8">
                        <h4>Особенности и задачи:</h4>
                        <ul class="simple-list">
                            <li><p>Агрессивные среды (кислоты, щёлочи, органические растворители и т.д.).</p></li>
                            <li><p>Жёсткие требования к герметичности, коррозионной стойкости и безопасности персонала.</p></li>
                            <li><p>Необходимость специального оборудования для хранения и переработки химических веществ.</p></li>
                        </ul>
                        <h4>Что мы предлагаем:</h4>
                        <ul class="simple-list">
                            <li><p><b>Производство ёмкостей и трубопроводов</b> для работы с агрессивными химическими средами.</p></li>
                            <li><p><b>Прочные металлоконструкции,</b> стойкие к коррозии и перепадам температуры.</p></li>
                            <li><p><b>Возможность изготовления нестандартных систем </b>для узкоспециализированных технологических процессов.</p></li>
                        </ul>
                    </div>
                </div>
                <div class="simple-section__title dark border-bottom">
                    <h2>Наши работы</h2>
                </div>
                <%- include('../templates/gallery-chemical-energy-industry.ejs') %>
            </div>
            <div class="tabs-content tabs-solutions-content" id="tab3">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="shadow-image left animate-on-scroll">
                            <div class="shadow-image-wrap">
                                <img src="../assets/img/gallery/chemical-energy-industry/IMG_2201.webp" alt="industry pipelines">
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-8">
                        <h4>Особенности и задачи:</h4>
                        <ul class="simple-list">
                            <li><p>Строгие требования к чистоте (GMP, FDA и др.).</p></li>
                            <li><p>Полное соответствие высоким стандартам стерильности и предотвращение перекрёстного загрязнения.</p></li>
                            <li><p>Применение высокочистых сплавов с минимальным содержанием примесей.</p></li>
                        </ul>
                        <h4>Что мы предлагаем:</h4>
                        <ul class="simple-list">
                            <li><p><b>Установка трубопроводов</b> и систем хранения высокочистых сред (вода для инъекций, фармацевтический пар).</p></li>
                            <li><p><b>Производство резервуаров</b> со специальной финишной обработкой внутренней поверхности (полировка, пассивация).</p></li>
                            <li><p><b>Высокоточная сварка</b> (например, орбитальная), сводящая к минимуму шероховатости и швы, задерживающие микроорганизмы.</p></li>
                        </ul>
                    </div>
                </div>
                <div class="simple-section__title dark border-bottom">
                    <h2>Наши работы</h2>
                </div>
                <%- include('../templates/gallery-chemical-energy-industry.ejs') %>
            </div>

        </div>
    </div>
</section>

<section class="simple-section know-more dark-image-bg accent-section-borders">
    <div class="container-md container-xxl h-100">
        <div class="simple-section__title light">
            <h2>Другие отрасли и направления</h2>
            <p class="accent-text-block all">
                Помимо ключевых сфер (пищевой, химической, фармацевтической), мы также сотрудничаем с предприятиями из:</p>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="know-more-item">
                    <svg class="icon">
                        <use xlink:href="#electricity"></use>
                      </svg>
                    <h4>Энергетики</h4>
                    <p>Трубопроводы для пара, газа, сжатого воздуха, монтаж металлоконструкций для котельных и турбинных залов.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="know-more-item">
                    <svg class="icon">
                        <use xlink:href="#mechanic"></use>
                      </svg>
                    <h4>Машиностроения</h4>
                    <p>Изготовление и монтаж компонентов производственных линий, включая сварку сложных металлоконструкций.</p> 
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="know-more-item">
                    <svg class="icon">
                        <use xlink:href="#oil-barrel"></use>
                      </svg>
                    <h4>Нефтегазового сектора</h4>
                    <p>Резервуары для нефтепродуктов, газовые трубопроводы, сопутствующая арматура.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('../templates/footer.ejs') %>

</body>
</html>